<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./styles/customerCareLookup.css" />
</head>

<body>

    <div>

        <table>
            <tr>
                <th>Device SN</th>
                <th>Device TYPE</th>
                <th>Device ALIES</th>
                <th>GATEWAY ALIES</th>
                <th>GATEWAY OWNER</th>
                <th>LOCATION</th>
            </tr>
            <tr>
                <td ng-repeat="data in deviceInfoData">
                    <a class="sidebarlink" ng-click="routeDeviceInfo()">{{data}}</a>
                </td>

            </tr>

        </table>

    </div>

</body>

</html>